@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
}


/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate {
  animation: fadeIn 0.12s ease-in;
}